.movies {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  width: 100%;
}
