.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

.search-movies {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
}

.form-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
}

.error {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
}
